.collapsed{
    display:none !important; 
}

ul.chat_box_dock{
    margin:0 0 0 0;
    list-style: none;
    padding: 0 0 0 3%;
    position: fixed;
    bottom:0px;
    display: block;
    font-family: helvetica, arial, sans-serif;
    width: 75%;
    /*width: 100%;*/

}
ul.chat_box_dock hr{
    width: 100%;
    border-color:#DCDCDC;
    margin:3px 0 3px 0;
}

ul.chat_box_dock > li.chat_box{
    float: right;
    margin: 0 1% 0 0;
    width: 260px;
    display: inline;
    border-color: rgb(231, 231, 231);
    border-width: 1px;
    box-shadow: rgb(0, 0, 0) 0px 1px 4px 1px;
    border-style: solid;
}
ul.chat_box_dock > li.chat_box > div.chat_box_title{
    margin: 0px 0px 0 0px;
    padding: 1%;
    height: 30px;
    width: 100%;
    display: block;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    border-width: 0px;
    background-color: rgb(29, 29, 29);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

}
ul.chat_box_dock > li.chat_box > div.chat_box_title a{



}


ul.chat_box_dock > li.chat_box > div.chat_box_title > a{
    color:#717171;
    margin: 1% 1% 1% 1% 
}


ul.chat_box_dock > li.chat_box > div.chat_box_title > a.chat_box_icon{
    float: left;


}

ul.chat_box_dock > li.chat_box > div.chat_box_title > a.chat_box_username{
    float: left;



}
ul.chat_box_dock > li.chat_box > div.chat_box_title > a.chat_box_username {
    margin: 0px 0px 0px 3%;
    font-weight: bold;
    color: #E34D3C;

}

ul.chat_box_dock > li.chat_box > div.chat_box_title > a.chat_box_close{


    float: right;

}
ul.chat_box_dock > li.chat_box > div.chat_box_title > a.chat_box_minimize{
    float: right;



}


ul.chat_box_dock > li.chat_box > div.chat_box_title > a.chat_box_max{

    float: right;
    display: none;


}

ul.chat_box_dock > li.chat_box > div.chat_box_content{
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    max-height: 230px;
    min-height: 200px;
    width: 100%;
    background-color: #e9eaed;
    font-size: 12px;
}

ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list{
    padding: 0 2% 0 2%;
    width: 100%;
    list-style: none;
}

ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list > li.chat_box_entry{
    width: 100%;
}
ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list > li.chat_box_entry .message_timestamp{

        margin: auto;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        font-size: .7em;
        color: grey;
        font-weight: bold;
}

ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list > li.chat_box_sent_message > *{
    float: right;

}
ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list > li.chat_box_received_message > *{
    float: left;

}




ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list > li.chat_box_entry > a.chat_box_user_icon{

    margin: 0 1px 0 1px;


}

ul.chat_box_dock > li.chat_box > div.chat_box_content > ul.chat_box_content_list > li.chat_box_entry > p.chat_box_message{
    width: 100%;


}

ul.chat_box_dock > li.chat_box > .chat_box_form{
    max-height: 6em;
    overflow-y: scroll;


}
ul.chat_box_dock > li.chat_box div.form *{

    margin: 0 0 0 0;
    padding:0 0 0 0;
}
ul.chat_box_dock > li.chat_box div.form{
    color: black;
    height: 100%;
    margin:0 0 0 0;
    background-color:#e9eaed;

}
ul.chat_box_dock > li.chat_box > div.chat_box_form >{
    overflow-y:scroll;
    overflow-x:none;

}

ul.chat_box_dock > li.chat_box > div.chat_box_form > textarea{
    border-width: 0px;
    border-top-color: #6F6F6F;
    border-top-width: 2px;
    border-style: solid;
    outline:none;
    /*min-height: 2.0em;*/
    padding:0 0 0 1%;
    width:100%;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    letter-spacing: normal;
    line-height: normal;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-rendering: auto;
    zoom: 1;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    background-color: rgb(255, 255, 255);
    resize: none;
    text-align: start;
    white-space: pre-wrap;
    word-wrap: break-word;
}
